html, body { font-size: 100%; }
body
{
	font-family: sans-serif;
	
	background: url('/!Background-Texture.png'),
		linear-gradient(45deg, hsla(30, 92%, 46%, 1) 0%, hsla(30, 92%, 46%, 0) 70%),
		linear-gradient(135deg, hsla(330, 96%, 50%, 1) 10%, hsla(330, 96%, 50%, 0) 80%),
		linear-gradient(225deg, hsla(30, 96%, 45%, 1) 10%, hsla(30, 96%, 45%, 0) 80%),
		linear-gradient(315deg, hsla(5, 91%, 42%, 1) 100%, hsla(212, 98%, 48%, 0) 70%);
}

main
{
	text-align: center;
}

figure
{
	position: relative;
	width: 15em; height: 10em;
	display: inline-block;
	margin: 0;

	background-position: center center;
	background-size: cover;
}

figcaption
{
	position: absolute; bottom: 0; left: 0; right: 0;
	
	text-align: center;
}
